<!-- start average time summary -->
<!-- start average time to attend indicator -->
<div class="p-0">
  <div class="summary-card">
    <div class="text-center">
      <h2>
        {{performances.overall.averageAttendTime.minutes ? performances.overall.averageAttendTime.minutes : 0}}
        <span class="text-muted text-sm">mins</span>
        {{performances.overall.averageAttendTime.seconds ? performances.overall.averageAttendTime.seconds : 0}}
        <span class="text-muted text-sm">secs</span>
      </h2>
      <p class="text-muted">Average Attend Time</p>
    </div>
  </div>
</div>
<!-- end average time to attend indicator -->

<!-- start average time to resolve indicator -->
<div class="p-0">
  <div class="summary-card">
    <div class="text-center">
      <h2>
        {{performances.overall.averageResolveTime.days ? performances.overall.averageResolveTime.minutesperformances.overall.averageResolveTime.days
        : 0}}
        <span class="text-muted text-sm">days</span>
        {{performances.overall.averageResolveTime.hours ? performances.overall.averageResolveTime.hours : 0}}
        <span class="text-muted text-sm">hrs</span>
        {{performances.overall.averageResolveTime.minutes ? performances.overall.averageResolveTime.minutes : 0 }}
        <span class="text-muted text-sm">mins</span>
      </h2>
      <p class="text-muted">Average Resolve Time</p>
    </div>
  </div>
</div>
<!-- end  average time to resolve indicator -->
<!-- end average time summary -->
