<ion-view view-title="Overview - Reports">
  <ion-nav-buttons side="right">
    <button class="button button-dawasco button-icon ion-android-funnel" ng-click="openModal()">
    </button>
  </ion-nav-buttons>
  <ion-content has-subheader="false">
    <!-- start pull to refresh -->
    <ion-refresher on-refresh="refresh()" pulling-icon="ion-ios-arrow-thin-up">
    </ion-refresher>
    <!-- end pull to refresh -->
    <!-- start overview summary -->
    <ng-include src="'views/dashboards/overviews/_partials/overall_summary.html'"></ng-include>
    <!-- end overview summary -->

    <!-- start area overview stats -->
    <ng-include src="'views/dashboards/overviews/_partials/areas_summary.html'"></ng-include>
    <!-- end area overview stats -->
    <!-- start service group stats -->
    <ng-include src="'views/dashboards/overviews/_partials/service_summary.html'"></ng-include>
    <!-- end service group stats -->
    <!-- start service stats -->
    <ng-include src="'views/dashboards/overviews/_partials/service_summary.html'"></ng-include>
    <!-- end service stats -->
  </ion-content>
</ion-view>
