<ion-view view-title="Standing - Reports">
  <ion-nav-buttons side="right">
    <button class="button button-dawasco button-icon ion-android-funnel" ng-click="openModal()">
    </button>
  </ion-nav-buttons>

  <ion-content has-subheader="false">
    <ion-refresher on-refresh="refresh()" pulling-icon="ion-ios-arrow-thin-up">
    </ion-refresher>
    <!-- start standing reports -->
    <!-- start per jurisdiction count standing -->
    <ion-list>
      <ion-item class="item">
        <h2>
          Issue per Area - Workload
        </h2>
        <p>
          Count of Reported Issues by Their Area
        </p>
      </ion-item>
      <ion-item class="item-no-border-bottom">
        <div class="dawasco-warning-note " ng-if="perJurisdictionOptions.length == 0 ">
          No Data Found. Please Update Your Filters.
        </div>
        <echart ng-repeat="options in perJurisdictionOptions" config="perJurisdictionConfig" options="options"></echart>
      </ion-item>
    </ion-list>
    <!-- end per jurisdiction count standing -->

    <!-- start per jurisdiction per service group count standing -->
    <ion-list>
      <ion-item class="item">
        <h2>
          Issue per Area per Service Group -
          <br> Affected Business Units(Divisions)
        </h2>
        <p>
          Count of Reported Issues by Their
          <br>Area and Service Group
        </p>
      </ion-item>
      <ion-item class="item-no-border-bottom">
        <div class="dawasco-warning-note " ng-if="perJurisdictionPerServiceGroupOptions.length == 0 ">
          No Data Found. Please Update Your Filters.
        </div>
        <echart ng-repeat="options in perJurisdictionPerServiceGroupOptions" config="perJurisdictionPerServiceGroupConfig" options="options"></echart>
      </ion-item>
    </ion-list>
    <!-- end per jurisdiction per service group count standing -->
    <!-- start per jurisdiction per service count standing -->
    <ion-list>
      <ion-item class="item">
        <h2>Issue per Area per Service - Impacted
          <br> Business Services</h2>
        <p>
          Count of Reported Issues by Their Area
          <br> and Service
        </p>
      </ion-item>
      <ion-item class="item-no-border-bottom">
        <div class="dawasco-warning-note " ng-if="perJurisdictionPerServiceOptions.length == 0 ">
          No Data Found. Please Update Your Filters.
        </div>
        <echart ng-repeat="options in perJurisdictionPerServiceOptions" config="perJurisdictionPerServiceConfig" options="options"></echart>
      </ion-item>
    </ion-list>
    <!-- end per jurisdiction per service count standing -->
    <!-- start per jurisdiction per priority count standing -->
    <ion-list>
      <ion-item class="item">
        <h2>Issue per Area per Priority - Work
          <br>Severity</h2>
        <p>
          Count of Reported Issues by Their Area
          <br> and Priority
        </p>
      </ion-item>
      <ion-item class="item-no-border-bottom">
        <echart config="perJurisdictionPerPriorityConfig" options="perJurisdictionPerPriorityOptions"></echart>
      </ion-item>
    </ion-list>
    <!-- end per jurisdiction per priority count standing -->
    <!-- start per jurisdiction per status count standing -->
    <ion-list>
      <ion-item class="item">
        <h2>Issue per Area per Status - Work
          <br> Progress</h2>
        <p>
          Count of Reported Issues by Their Area
          <br> and Status
        </p>
      </ion-item>
      <ion-item class="item-no-border-bottom">
        <echart config="perJurisdictionPerStatusConfig" options="perJurisdictionPerStatusOptions"></echart>
      </ion-item>
    </ion-list>
    <!-- end per jurisdiction per status count standing -->

    <!-- end of standing reports -->
  </ion-content>
</ion-view>
