<!--app navigation bar-->
<ion-nav-bar class="bar-light">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
<!--end app navigation bar-->
<!-- app tabs -->
<ion-tabs class="tabs-light tabs-icon-top tabs-background-light tabs-color-dark">
  <!-- overviews -->
  <ion-tab title="Overviews" icon-off="ion-ios-albums-outline" icon-on="ion-ios-albums dawasco-blue" ui-sref="app.dashboard.overviews"
    on-select="refresh('overviews:reload')">
    <ion-nav-view name="overviews"></ion-nav-view>
  </ion-tab>
  <!-- end overviews -->
  <!-- performances -->
  <ion-tab title="Performance" icon-off="ion-ios-photos-outline" icon-on="ion-ios-photos dawasco-blue" ui-sref="app.dashboard.performance"
    on-select="refresh('performances:reload')">
    <ion-nav-view name="performance"></ion-nav-view>
  </ion-tab>
  <!-- end performances -->
  <!-- standing reports-->
  <ion-tab title="Trending" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong dawasco-blue" ui-sref="app.dashboard.standing"
    on-select="refresh('standings:reload')">
    <ion-nav-view name="standing"></ion-nav-view>
  </ion-tab>
  <!-- end standing -->
  <!-- productivity -->
  <ion-tab title="Productivity" icon-off="ion-ios-color-filter-outline" icon-on="ion-ios-color-filter dawasco-blue" ui-sref="app.dashboard.productivity"
    on-select="refresh('produtivities:reload')">
    <ion-nav-view name="productivity"></ion-nav-view>
  </ion-tab>
  <!-- end productivity -->
</ion-tabs>
<!-- end app tabs -->
