<ion-view scroll='true'>
  <ion-content class="login" padding="true">
    <ion-list class="list-item-no-border">
      <ion-item class="text-center">
        <img class="logo" src="img/ionic.png">
      </ion-item>
      <ion-item class="item-input item-floating-label input">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-model="user.email">
      </ion-item>
      <ion-item class="item-input item-floating-label input">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="user.password">
      </ion-item>
      <button class="button button-positive button-block">
              Signin
      </button>
      <div class="button-bar">
        <a class="button button-clear button-positive text-center" ui-sref="app.forgot">
          Forgot Password ?
        </a>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
